body {
background:url(../shengdan/photo/f4dad8bbc890177d95055488a2848295.jpg);
background-size: cover;
}
.a {
    padding-left: 500px;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-shadow:o.1em 0.1em;
}
.b {
    padding-left: 900px;
}

.c {
    float: left;
    width: 400px;
    font-size: 30px;
    color: darkcyan;
}
.d {
    color: chocolate;
    font-size: 30px;
    float: right;
    width: 400px;
}