.all {
    position: absolute;
    width: 1000px;
    left: 400px;
    right: 400px;
    background-color: rgb(102, 160, 102);
    
}
#relative {
    position: relative;
    width: 1800px;
}

.no1 {
    border: 5px double purple;
    background-color: navajowhite;
}


.jj {
    color: crimson;
    font-size: 50px;
    padding-left: 370px;
}


.main {
    border: coral;
}
img {
    width: 150px;
    height: 150px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    float: right;
    clear: both;
}
